body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:768px;
  display:flex;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:103px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:103px;
  display:flex;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:33px;
  width:446px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:29px;
  height:50px;
  display:flex;
}
#u144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  border:none;
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:300px;
  height:70px;
  display:flex;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:177px;
  width:99px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  padding:3px 2px 3px 2px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.392156862745098);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u148_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  padding:3px 2px 3px 2px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.392156862745098);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:rgba(0, 0, 0, 0.392156862745098);
}
#u148 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:167px;
  width:693px;
  height:58px;
  display:flex;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:rgba(0, 0, 0, 0.392156862745098);
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u148_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:rgba(0, 0, 0, 0.392156862745098);
}
#u148.disabled {
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  border:none;
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:300px;
  height:70px;
  display:flex;
}
#u150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:297px;
  width:122px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  padding:3px 2px 3px 2px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.392156862745098);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u152_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  padding:3px 2px 3px 2px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.392156862745098);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:rgba(0, 0, 0, 0.392156862745098);
}
#u152 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:287px;
  width:693px;
  height:58px;
  display:flex;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:rgba(0, 0, 0, 0.392156862745098);
}
#u152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u152_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:rgba(0, 0, 0, 0.392156862745098);
}
#u152.disabled {
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  border:none;
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:300px;
  height:70px;
  display:flex;
}
#u154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:417px;
  width:81px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  padding:3px 2px 3px 2px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.392156862745098);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u156_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  padding:3px 2px 3px 2px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.392156862745098);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:rgba(0, 0, 0, 0.392156862745098);
}
#u156 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:407px;
  width:693px;
  height:58px;
  display:flex;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:rgba(0, 0, 0, 0.392156862745098);
}
#u156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u156_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:rgba(0, 0, 0, 0.392156862745098);
}
#u156.disabled {
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  border:none;
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:530px;
  width:300px;
  height:70px;
  display:flex;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:547px;
  width:177px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:130px;
  padding:3px 2px 3px 2px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  letter-spacing:normal;
  color:#808080;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u160_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:130px;
  padding:3px 2px 3px 2px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  letter-spacing:normal;
  color:#808080;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:#808080;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:530px;
  width:693px;
  height:130px;
  display:flex;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:#808080;
}
#u160 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:130px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:#808080;
}
#u160.disabled {
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:63px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:20px;
  width:221px;
  height:63px;
  display:flex;
  font-size:32px;
}
#u161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u161_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:63px;
  background:inherit;
  background-color:rgba(56, 56, 148, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u161.mouseOver {
}
#u161_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:63px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u161.mouseDown {
}
#u161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
