body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:768px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:698px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:35px;
  width:1000px;
  height:698px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:655px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:57px;
  width:957px;
  height:655px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:590px;
  width:160px;
  height:160px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:152px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:232px;
  width:711px;
  height:152px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:71px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BradleyHandITCTT-Bold', 'Bradley Hand Bold', 'Bradley Hand', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:450px;
  width:250px;
  height:71px;
  display:flex;
  font-family:'BradleyHandITCTT-Bold', 'Bradley Hand Bold', 'Bradley Hand', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:71px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BradleyHandITCTT-Bold', 'Bradley Hand Bold', 'Bradley Hand', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u5.mouseOver {
  opacity:0.5;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:71px;
  background:inherit;
  background-color:rgba(56, 56, 148, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BradleyHandITCTT-Bold', 'Bradley Hand Bold', 'Bradley Hand', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:450px;
  width:250px;
  height:71px;
  display:flex;
  font-family:'BradleyHandITCTT-Bold', 'Bradley Hand Bold', 'Bradley Hand', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:71px;
  background:inherit;
  background-color:rgba(56, 56, 148, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BradleyHandITCTT-Bold', 'Bradley Hand Bold', 'Bradley Hand', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u6.mouseOver {
  opacity:0.5;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
