body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:768px;
  display:flex;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:103px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:103px;
  display:flex;
}
#u159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:33px;
  width:666px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:70px;
  background:inherit;
  background-color:rgba(253, 232, 36, 0.972549019607843);
  border:none;
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:433px;
  height:70px;
  display:flex;
}
#u161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:157px;
  width:230px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:150px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:298px;
  width:385px;
  height:173px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:150px;
}
#u163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  text-decoration:underline ;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:513px;
  width:190px;
  height:37px;
  display:flex;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  text-decoration:underline ;
}
#u164 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u164_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  text-decoration:underline ;
}
#u164.selected {
}
#u164_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  text-decoration:underline ;
  color:#2EB1FC;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:613px;
  width:344px;
  height:37px;
  display:flex;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  text-decoration:underline ;
  color:#2EB1FC;
}
#u165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u165_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  text-decoration:underline ;
  color:#2EB1FC;
}
#u165.mouseDown {
}
#u165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
